{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro - Home{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h2>
                    Curso de Python com Luciano Ramalho
                </h2>
                <p>
                    Confira em breve mais informações sobre o curso que será ministrado pelo autor do livro
                    <a href="http://shop.oreilly.com/product/0636920032519.do" target="_blank">Python Fluente</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">
                    Mais detalhes sobre o instrutor
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano Ramalho"
                        class="img-thumbnail float-left mr-3"/>
                        Ramalho é sócio e professor na <a href="www.python.pro.br">Python Pro</a> e autor do Livro
                        Python Fluente. Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
                        Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python desde 1998.
                        Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República,
                        Globo.com e Itaú. Palestrante em eventos internacionais como FISL, PyCon US e OSCON. Ajudou a
                        criar a Associação Python Brasil e foi seu presidente. É membro da Python Software Foundation e
                        fundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
